.edit{
    
}
.create{
	display: flex;
    flex-direction: column;
    width: 60%;
	border-radius: 15px;
	box-shadow: 1px 1px 1px 2px #655a71;
	color: black;
	margin: 6% auto 0% auto;
}
.create h2{
    padding-top: 4%;
    font-size: 1.7rem;
}
.edit .textField{
    width: 70%;
    margin: 5% 0%; 
}
.MuiOutlinedInput-root {
    border-radius: 10px !important;
    background-color: #eee;
}

.edit .tools{
    display: flex;
    justify-content: space-between;
}
.tools svg{
    font-size: 1.7rem;
}
.input{
    margin-top: 10%;
}
.input label{
    display: block;
    text-align: left;
    margin-left: 4%;
}
.input input{
    width: 90%;
    height: 2.5rem;
    border-radius: 10px;
    border: 1px solid #939191;
	padding-left: 2%;
	outline: none;
}
.edit button{
    color: white;
    border-radius: 20px;
    width: 50%;
    background-color: blue;
    cursor: pointer;
    margin-bottom: 3%;
    padding: 1.5%;
}
.edit button:hover{
    background-color: #4949c1;
    color:#cec6c6;
}

input:hover label{
	top: -44%;
	position: absolute;
    left: 18%;
}

@media (min-width: 1200px) {
    .MuiOutlinedInput-inputMarginDense {
        padding-top: 13.5px !important;
        padding-bottom: 13.5px !important;
    }
    .MuiInputBase-root{
        font-size: calc(1vw + 0.4rem) !important;
    }
    .create h2{
        font-size: calc(1vw + 1.3rem) !important;
    }
    .edit button{
        font-size: calc(1vw + 0.2rem) !important;
    }
}
@media screen and (max-width: 900px) {
.create {
    width: 75%;
	margin: 20% auto 0% auto;
}
.input input {
    height: 2.5rem;
}
.edit button {
    width: 40%;
}
}
@media screen and (max-width: 600px) {
.create {
    width: 85%;
	margin: 20% auto 0% auto;
}
.input input {
    height: 2rem;
}
.edit button {
    width: 50%;
}
}
