.list-cards{
    display: flex;
    flex-direction: column;
}
.bat{
    width: 65%;
    margin: 4% auto;
    height: 9rem;
    box-shadow: -5px 0px 25px -10px rgba(0,0,0,0.62);
    position: relative;
    border-radius: 10px;
    padding-top: 1%;
	color:black;
}

.bat .inf{
	text-align: left;
    margin-left: 3%;
}
.bat .inf h3{
	font-size: 1.3rem;
}
.bat .inf p{
	margin-left: 6%;
    margin-top: 2rem;
    font-size: 1.1rem;
}
.bat .tools{
    position:absolute;
    right:2%;
	bottom: 4%;
	color: #cddbe8;
}
.tools a{
	color: #9f4343;
}
.tools svg:hover{
	color: #26ac8d !important;
	cursor:pointer;
}

.MuiDialogTitle-root h2 {
    display: flex;
    align-items: center;
}
.MuiDialogTitle-root h2 svg {
    position: absolute;
    right: 6px;
    cursor: pointer;
}
.MuiDialog-container {
    height: 30rem !important;
}
@media (min-width: 1200px) {
    .bat{
        height: calc(1.5vw + 10rem)
    }
    .bat .inf h3{
        font-size: calc(1vw + 0.7rem);
    }
    .bat .inf p{
        font-size: calc(1vw + 0.6rem);
    }
    .tools svg{
        font-size: calc(1vw + 1.4rem);
    }
    .MuiDialog-paperWidthSm {
        width: 50% !important;
        height: 50% !important;
        max-width: none !important;
    }
    .MuiTypography-colorTextSecondary{
        font-size: calc(1vw + 0.6rem) !important;
    }
    .MuiDialogTitle-root h2{
        font-size: calc(1vw + 0.9rem) !important;
    }
    .MuiButton-outlined{
        font-size: calc(1vw + 0.4rem) !important;
        width:40% !important;
    }
    .MuiButton-iconSizeMedium > :first-child{
        font-size: calc(1vw + 0.6rem) !important;
    }
} 
@media (max-width: 700px) {
    .bat{
        width: 90%;
        margin: 8% auto;
    }
}