
.empty{
}
.empty .content{
  width: 60%;
  margin: 6% auto;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  height: 13rem;
  box-shadow: -5px 0px 25px -10px rgba(0,0,0,0.62);
  border-radius: 9px;
}
.content button{
    background-color: #084821;
    outline: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    padding: 4px 17px;
    border-radius: 12px;
    margin-top: -13px;
}
.content button:hover{
    background-color: #0a6b2f;
}
@media (min-width: 1200px) {
  .empty .content {
    height: calc(1vw + 13rem);
  }
    .content h1{
      font-size: calc(1vw + 1.2rem);
    }
    .content button{
      font-size: calc(1vw + 0.4rem) !important;
    }
    .weather-details{
      font-size: calc(1vw + 0.4rem); 
    }
    .status{
     font-size: calc(1vw + 0.4rem);
    }
} 
@media screen and (max-width: 768px){
.empty .content {
  width: 85%;
  margin-top: 20%;
}
.empty .content h1{
  font-size: 1.6rem;
}
}

    
@media screen and (max-width:320px){
.empty .content{
  width: 90%;
  margin-top: 30%;
  font-size: small;
}
.empty .content h1{
  font-size: 1.4rem;
}
}
